
# ========== ROS 2 / colcon build ==========
build/
install/
log/


# ========== Python‐Artefacts ==========
# Byte‐compiled / optimized / DLL files
__pycache__
*.pyc
dist/
*.egg-info/
share/

# C extensions
*.so

# ========== IDE / Editor ==========
.vscode/
.idea/
*.swp
*.swo
*~ 


# ========== TensorBoard / Evaluation ==========
evaluation/run/events.out.tfevents*