
# ROS2
./deep-rl-navigation/DRL_robot_navigation_ros2/build
./deep-rl-navigation/DRL_robot_navigation_ros2/install
./deep-rl-navigation/DRL_robot_navigation_ros2//log
build/
install/
log/

# DRL_robot_navigation_ros2
DRL_robot_navigation_ros2/src/td3/launch/DRL_robot_navigation_ros2/
DRL_robot_navigation_ros2/src/td3/scripts/__pycache__/
results_DRL/