
# ========== ROS 2 / colcon build ==========
build/
install/
log/


# ========== Python‐Artefacts ==========
# Byte‐compiled / optimized / DLL files
__pycache__
*.pyc
dist/
*.egg-info/
share/

# C extensions
*.so

# ========== IDE / Editor ==========
.vscode/
.idea/
*.swp
*.swo
*~ 

# ========== Templates ==========
deep_rl_robot_navigation/src/drl_robot_navigation/drl_robot_navigation/nodes/training.template.py

# ========== TensorBoard / Evaluation ==========
deep_rl_robot_navigation/src/drl_robot_navigation/drl_robot_navigation/evaluation/models/**
deep_rl_robot_navigation/src/drl_robot_navigation/drl_robot_navigation/evaluation/run/**